<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <h1 th:text="${poll.name}">Ballot</h1>
            </div>
            <div>
                <form action="#" th:action="@{/poll/{id}(id=${poll.id})}" th:object="${pollDto}" method="post">
                    <th:block th:each="question, questionIndex : ${poll.pollQuestions}">
                        <div th:switch="${question.pollQuestionType}">
                            <h3 th:text="${question.title}">Title</h3>
                            <p th:text="${question.description}"></p>

                            <div th:case="${T(com.markwryan.votingbooth.model.polls.PollQuestionType).SINGLE}"
                                 class="form-group">
                                <th:block th:each="choice, choiceIndex : ${question.pollQuestionChoices}">
                                    <div class="row">
                                        <input type="radio"
                                               th:name="${'question-' + question.pollQuestionId}"
                                               th:id="${'question-' + question.pollQuestionId + '-' + choice.pollQuestionChoiceId}"
                                               th:value="${question.pollQuestionId + ':' + choice.pollQuestionChoiceId + ':-1'}" />
                                        <label th:for="${'question-' + question.pollQuestionId + '-' + choice.pollQuestionChoiceId}"
                                               th:text="${choice.description}"></label>
                                    </div>
                                </th:block>
                            </div>

                            <div th:case="${T(com.markwryan.votingbooth.model.polls.PollQuestionType).MULTIPLE}"
                                 class="form-group">
                                <th:block th:each="choice, choiceIndex : ${question.pollQuestionChoices}">
                                    <div class="row">
                                        <input type="radio"
                                               th:name="${'question-' + question.pollQuestionId}"
                                               th:id="${'question-' + question.pollQuestionId + '-' + choice.pollQuestionChoiceId}"
                                               th:value="${question.pollQuestionId + ':' + choice.pollQuestionChoiceId + ':-1'}" />
                                        <label th:for="${'question-' + question.pollQuestionId + '-' + choice.pollQuestionChoiceId}"
                                               th:text="${choice.description}"></label>
                                    </div>
                                </th:block>
                            </div>

                            <div th:case="${T(com.markwryan.votingbooth.model.polls.PollQuestionType).RANKED}"
                                 class="form-group">
                                <th:block th:each="choice, choiceIndex : ${question.pollQuestionChoices}">
                                    <div class="row">
                                        <input type="radio"
                                               th:name="${'question-' + question.pollQuestionId}"
                                               th:id="${'question-' + question.pollQuestionId + '-' + choice.pollQuestionChoiceId}"
                                               th:value="${question.pollQuestionId + ':' + choice.pollQuestionChoiceId + ':'}" />
                                        <label th:for="${'question-' + question.pollQuestionId + '-' + choice.pollQuestionChoiceId}"
                                               th:text="${choice.description}"></label>
                                    </div>
                                </th:block>
                            </div>

                        </div>
                    </th:block>

                    <button type="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>