<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <h1>Polls</h1>
                <p>
                    Select a poll to respond to or view your response.
                </p>
            </div>
            <h2>Polls waiting a response</h2>
            <th:block th:each="poll : ${incompletePolls}">
                <div>

                    <h3><a th:text="${poll.name}" th:href="@{/poll/{id}(id=${poll.id})}">NAME</a></h3>
                    <p th:text="${poll.description}">DESCRIPTION</p>
                </div>
            </th:block>

            <h2>Completed polls</h2>
            <th:block th:each="poll : ${completedPolls}">
                <div>
                    <h3><a th:text="${poll.name}" th:href="@{/poll/id(id=${poll.id})}">NAME</a></h3>
                    <p th:text="${poll.description}">DESCRIPTION</p>
                </div>
            </th:block>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>